* {
    margin: 0;
    padding: 0;
}

body {
    font-family:"Roboto", sans-serif;
    background-color: #f3f3f3;
}

nav {
    background-color: #ffffff;
    color: black;
    border-bottom: 2px solid #c7c7c7;
    justify-content: center;
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 75vw;
    min-width: 700px;
}

nav li {
    list-style: none;
    float: left
}

.right_align {
    float: right;
}

nav a {
    text-decoration: none;
    padding: 14px;
    color: black;
    font-size: 19px;
    font-weight: 400;
}

nav a:hover{
    color: darkgrey;
}

table {
    padding: 10px;
    color: black;
    background-color: white;
    border: 2px solid #c7c7c7;
    border-radius: 10px;
    width: 25%;
}

td {
    font-size: 16px;
    padding: 14px;
    text-align: center;
}

th {
    font-size: 16px;
    padding: 14px;
    text-align: center;
    border: 2px solid #c7c7c7;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    color: black;
    padding: 30px;
}

hr {
    width: 100%;
    height: 1px;
    margin: 20px auto 20px auto;
    border: 0px;
    background-color: #c7c7c7;
}

label {
    font-size: 14px;
    text-align: left;
}

input, select {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 12px 20px;
    margin: 8px;
    font-size: 14px;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    background-color: #f2f2f2;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    margin: auto;
}

button:hover, select:hover {
    cursor: pointer;
}

input:hover {
    cursor: text;
}

input:hover.form {
    cursor: pointer;
}

.transaction{
    padding: 14px;
    display: flex;
    justify-content: space-between;
    margin:auto;
    margin-bottom: -1px;
    border: 1px solid#c7c7c7;
    background-color: white;
    text-decoration: none;
    color: black;
}

.transactions {
    width:50vw;
    margin: 20px;
}

.transaction * {
    text-align: left;
}

.transaction_name {
    font-weight: bold;
}

.transaction_date {
    font-size: 14px;
    color: darkgray;
}

.transactions_body {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.current_balance, .transaction_category{
    font-size: 14px;
    color: darkgray;
}

.current_balance {
    text-align: right;
}

.rounded_rect, .account{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    border: 1px solid#c7c7c7;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    margin-top: 35px;
}

.account_name, .account_balance {
    font-weight: bold;
}

.account_balance, .account_spendings {
    text-align: right;
}

.account_spendings, .account_number{
    font-size: 14px;
    color: darkgray;
}

.account_summary {
    margin: auto;
    width: 50vw;
}

#sort {
    margin: 20px;
    display: flex;
}

#sort_options {
    display: none;
}

#show_menu {
    display: flex;
    width: 5vh;
    height: 5vh;
    margin: 0px;
    background-color: white;
    border: none;
    margin: 8px 0px 8px 8px;
    border-radius: 5px;
    justify-content: center;
}

.material-symbols-outlined {
    margin: auto;
    text-decoration: none;
}

#sort_options.show {
    display: block;
}

.add {
    margin-top: 0px;
    margin-bottom: 35px;
}

#view_one_body {
    width: 75vw;
    margin: 35px;
}

.view_one {
    display: flex;
    justify-content: center;
}

a {
    color: black;
}

.transaction_body {
    display: flex;
    flex-direction: column;
    flex-basis: 75vw;
}

#back {
    display: inline-block;
}

.one_transaction_amount {
    font-weight: bold;
    font-size: 24px;
}

#category_icon {
    font-size: 50px;
}

.category {
    display: flex;
    justify-content: space-between;
}

.category_desc {
    display: flex;
}

.category_name {
    margin: auto;
    margin-left: 10px;
    font-weight: bold;
}

.change_category {
    font-size: 14px;
    color: darkgray;
    text-decoration: none;
}

.category_edit {
    margin: auto;
    margin-right: 0px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.sub_info {
    display: flex;
    justify-content: space-between;
}

.one_account_name {
    display: flex;
    justify-content: space-between;
}

form {
    background-color: white;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    padding: 15px;
    width: 50vw;
    margin: 25px auto;
}

form div {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}

form div label {
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus, select:focus {
    outline: none;
}

select {
    appearance: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 12px 20px;
    margin: 8px;
    font-size: 14px;
    box-sizing: border-box;
    text-align-last: center;
}

.form {
    width: 25vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search_box {
    background-color: white;
}

.message {
    width: 50vw;
    margin: auto;
    margin-top: 15px;
    font-size: 14px;
    color: darkgray;
    justify-content: center;
}

.message * {
    list-style-type: none;
    text-align: center;
}

.errorlist {
    list-style-type: none;
    text-align: center;
    font-size: 14px;
    color: darkred;
}

.category_radio {
    display: none;
}

.category_select:hover {
    cursor: pointer;
}

.category_radio:checked + .category_select {
    border: 1px solid green;
}

.category_select {
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    padding: 25px;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.category_select .category_name, .category_select .material-symbols-outlined{
    margin: 0px;
    width: auto;
}

.category_form {
    width:50vw;
}

.scroll label {
    width: 20vw;
    flex-shrink: 0;
}

.scroll {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: space-between;
}

.scroll::-webkit-scrollbar {
    display: none;
}
  
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 5px;
    color: white;
}

.container:hover input ~ .checkmark {
    background-color:aliceblue;
}

.container input:checked ~ .checkmark {
    background-color:cornflowerblue;
}

.checkmark:after {
    content: "";
}

.container input:checked ~ .checkmark:after {
    content: "check";
}

#category_sort {
    padding: 15px;
    padding-top: 0px;
}

.centered {
    text-align: center;
    padding: 10px;
}

.description {
    font-size: 14px;
    color: darkgray;
    padding-left: 10px;
}