{% extends 'base.html' %}
{% block title %}Add Account Mapping{% endblock %}
{% block body %}
<div class="rounded_rect message">
    Select account corresponding to account number {{account_number}}
</div>
<form action="{% url 'add_account_mapping' account_number %}" method="POST" enctype="multipart/form-data">
{% csrf_token%}
    <select name="account">
        {% for i in accounts %}
        <option value="{{i.id}}">{{i.name}}</option>
        {% endfor %}
    </select><br>
<input type="submit" value="Submit">
</form>
{% endblock %}