{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="account_summary">
    <div class="account">
        <div class="account_name">All</div>
        <div>
            <div class="account_balance">
                Total Balance:
            </div>
            <div class="account_spendings">
                {{total_balance}}
            </div>
        </div>
    </div>
    {% for account in accounts %}
    <a class="account" href="{% url "show_account" account.id %}">
        <div>
            <div class="account_name">
                {{account.name}}
            </div>
            <div class="account_number">
                {{account.number}}
            </div>
        </div>
        <div>
            <div class="account_balance">
                {{account.balance}}
            </div>
            <div class="account_spendings">
                {{account.spendings}}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
