{% extends 'base.html' %}
{% block title %}Import{% endblock %}
{% block body %}
<div>
    <p>Some Headers in the CSV currently have no mappings.</p>
    <p>Please Select the corresponding fields</p>
</div>
<form action="{% url 'process_data' file_name %}" method="POST" enctype="multipart/form-data">
{% csrf_token%}
{% for i in to_map %}
    <label for="{{i}}">{{i}}</label>
    <select name="{{i}}">
        <option value="account">Account Number</option>
        <option value="name">Transaction Description</option>
        <option value="date">Transaction Date</option>
        <option value="amount">Transaction Amount</option>
        <option value="amount_neg">Transaction Amount Negated (Only applies if CSV has different fields for debit and credit)</option>
        <option value="balance">Account Balance</option>
        <option value="skip" selected>Option Not Required</option>
    </select><br>
{% endfor %}
<input type="submit" value="Submit">
</form>
{% endblock %}