{% extends 'base.html' %}
{% block title %}View All Transactions{% endblock %}
{% block body %}
<div class="transactions_body">
<div id="sort">
    <button id="show_menu" onclick="showSort()">
        <span class="material-symbols-outlined">search</span>
    </button>
    <div id="sort_options">
        <div class="search">
            <input type="text" id="search" placeholder="Search.." oninput="Search()" autocomplete="off">
        </div>
    </div>
</div>
<div class="transactions">
    <a class="rounded_rect add" href={% url "create_transaction"%}>
        <span class="material-symbols-outlined">add</span>
    </a>
{% for c,i in transactions %}
<a class="transaction" href="{% url 'show_transaction' i.id %}">
    <div>
        <p class="transaction_date">{{i.date | date:"d/m/y"}}</p>
        <p class="transaction_name">{{ i.name }}</p>
        <p class="transaction_category">{{c}}</p>
    </div>
    <div>
        <br>
        <p class="transaction_amount">{{ i.amount }}</p>
        <p class="current_balance">{{ "£"}}{{i.balance }}</p>
    </div>   
</a>
{% endfor %}
</div>
{% endblock %}